
@model IEnumerable<Khachhang>

@{
    ViewData["Title"] = "Khách hàng";
}

@section menu{
    <div class="ui secondary pointing fluid menu">
        <h2 class="ui header">Khách Hàng</h2>

        <div class="right menu">
            <a class="ui item" asp-action="Index">
                Danh Sách
            </a>
            <a class="ui active item" asp-action="CreateCustomer">
                Thêm Mới
            </a>
            <a class="ui item">
                Transactions
            </a>
        </div>
    </div>
}


<div class="ui ten wide column">
    <div class="ui right floated header">Thêm Mới Khách Hàng</div>

    <form class="ui form" method="post" asp-action="CreateCustomer">
        <div class="field">
            <label>Tên Khách Hàng</label>
            <input type="text" name="TenKhachHang" placeholder="Tên">
        </div>
        <div class="field">
            <label>Số Điện Thoại</label>
            <input type="text" name="SoDienThoai" placeholder="Số điện thoại">
        </div>
        <div class="field">
            <label>Địa Chỉ</label>
            <input type="text" name="DiaChi" placeholder="Địa chỉ">
        </div>
        <div class="field">
            <label>Email</label>
            <input type="text" name="Email" placeholder="Email">
        </div>        
        <button class="ui primary button" type="submit">Thêm</button>
    </form>
</div>


