@model List<NumberOfCustomersByMonthViewModel>

<div class="column">

    <div class="ui segment">
        <canvas id="customerChart" height="200"></canvas>
    </div>

</div>


<script>

    var month = @Html.Raw(Json.Serialize(Model.Select(i => i.Month)));
    var data = @Html.Raw(Json.Serialize(Model.Select(i => i.Total)));

</script>
<script src="~/js/Dashboard/CustomerGraph.js"></script>