@model List<NumberOfCustomersByMonthViewModel>

<div class="column">

    <div class="ui secondary pointing fluid menu">
        <h4 class="ui header">Khách Hàng</h4>

        <div class="right menu">
            
            <a class="ui active item" asp-action="Index">
                Tuần
            </a>
            <a class="ui item" asp-action="Create">
                Tháng
            </a>
        </div>
    </div>

    <div class="ui segment">
        <canvas id="customerChart" height="200"></canvas>
    </div>

</div>


<script>

    var month = @Html.Raw(Json.Serialize(Model.Select(i => i.Month)));
    var data = @Html.Raw(Json.Serialize(Model.Select(i => i.Total)));

</script>
<script src="~/js/Dashboard/CustomerGraph.js"></script>