@model NhaCungCap

<form asp-action="Create" class="create-form ui form">
    <div class="required field">
        <label asp-for="TenNhaCungCap"></label>
        <input asp-for="TenNhaCungCap"
               type="text"
               name="first-name"
               placeholder="@Html.DisplayNameFor(model => model.TenNhaCungCap)">
    </div>
    <button class="ui basic button" type="submit">
        <i class="add icon"></i>Thêm
    </button>
</form>
