@model NhaCungCap

@{
    ViewData["Title"] = "Nhà cung cấp";
}

@await Html.PartialAsync("~/Views/NhaCungCap/_HeaderMenuPartial.cshtml", "Create")

<div class="page-container">
    <div class="ui sixteen column grid">
        <div class="four wide column">
            @await Html.PartialAsync("_HangHoaMenuPartial", "NhaCungCap")
        </div>

        <div class="twelve wide column left aligned">
            <div class="row">
                @await Html.PartialAsync("~/Views/NhaCungCap/_CreatePartial.cshtml", Model)
            </div>
        </div>
    </div>
</div>

@section Additional {
    @{
        await Html.RenderPartialAsync("_NonamePartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
