@model PaginatedList<NhaCungCap>
@{
    ViewData["Title"] = "Nhà cung cấp";
}

@await Html.PartialAsync("~/Views/NhaCungCap/_HeaderMenuPartial.cshtml", "Index")

<div class="page-container">
    <div class="ui sixteen column grid">
        <div class="four wide column">
            @await Html.PartialAsync("_HangHoaMenuPartial", "NhaCungCap")
        </div>

        <div class="twelve wide column">
            @await Html.PartialAsync("~/Views/NhaCungCap/_IndexPartial.cshtml", Model)

            @{var paginated = new Paginated(
                                      Model.PageIndex,
                                      Model.TotalPages,
                                      "/HangHoa/NhaCungCap?page=");
            }
            @await Html.PartialAsync("_PaginatedPartial", paginated)
        </div>
    </div>
</div>

@section Additional {
    @{
        await Html.RenderPartialAsync("_NonamePartial");
    }
}
