<link href="~/css/Dashboard.css" rel="stylesheet" />
<script src="~/js/chart.js/Chart.bundle.js"></script>

@{
    ViewData["Title"] = "Dashboard";

}

<div class="row equal width">
    <div class="column">
        <h2 class="ui header">Tổng Quan</h2>
    </div>

    <div class="column">

    </div>

</div>


@await Component.InvokeAsync("Statistics")

<div class="two column row">

    @*@await Component.InvokeAsync("CustomerGraph")
        @await Component.InvokeAsync("RevenueGraph")*@

    <div class="column">
        <div class="ui secondary pointing fluid menu">
            <h4 class="ui header">Khách Hàng</h4>
            <div class="right menu">
                <a class="ui active item" asp-action="Index">
                    Tuần
                </a>
                <a class="ui item" asp-action="Create">
                    Tháng
                </a>
            </div>
        </div>
        <!--chart go here-->
        <div class="ui loading segment" 
             style="height: 360px;"
             id="customer-register-chart">

        </div>
    </div>

    <div class="column">
        <div class="ui secondary pointing fluid menu">
            <h4 class="ui header">Mặt hàng bán chạy</h4>

            <div class="right menu">
                <a class="ui active item" asp-action="Index">
                    Tuần
                </a>
                <a class="ui item" asp-action="Create">
                    Tháng
                </a>
            </div>
        </div>
        <!--chart go here-->
        <div class="ui loading segment"
             style="height: 360px;"
             id="best-selling-chart">

        </div>
    </div>

</div>

<script>
    var urlCustomerRegisterChart = '@Url.Action("CustomerRegisterGraph", "Dashboard")';
    var urlBestSellingGoodsChart = '@Url.Action("BestSellingGoodsGraph", "Dashboard")';
</script>

<script src="~/js/Dashboard/Dashboard.js"></script>