@model string

<div class="sub-menu four wide column">
    <div class="ui secondary vertical menu">
        @foreach (var item in HangHoaMenu.Elements)
        {
            if (Model == item.Key)
            {
                <a class="active item">
                    @item.Value.Name
                </a>
            }
            else
            {
                <a asp-controller=@item.Value.Controller asp-action="@item.Value.Action"
                   class="item">
                    @item.Value.Name
                </a>
            }
        }
    </div>
</div>
