<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/semantic/dist/semantic.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--stating environment-->
        
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

    <!--Responsive sidebar menu-->
    <div class="ui sidebar inverted vertical menu">
        <div class="item">
            <div class="header">Hello, Cuong!</div>
            <div class="menu">
                <a class="item" asp-controller="" asp-action="">Account</a>
                <a class="item" asp-controller="" asp-action="">Sign out</a>
            </div>
        </div>
        <a class="active gray item" asp-controller="" asp-action="">
            Tổng Quan
        </a>
        <a class="item" asp-controller="" asp-action="">
            Bán Hàng
            <div class="ui label">11</div>
        </a>
        <a class="item" asp-controller="" asp-action="">
            Đơn Hàng
            <div class="ui label">22</div>
        </a>
        <a class="item" asp-controller="" asp-action="">
            Khách Hàng
        </a>
        <a class="item" asp-controller="" asp-action="">
            Hàng Hóa
        </a>
        <a class="item" asp-controller="" asp-action="">
            Báo Cáo
        </a>
    </div>


    <div class="pusher">
        <div class="ui grid container">
            <div class="ui left fixed vertical menu">
                <div class="item">
                    <div class="header">Hello, Cuong!</div>
                    <div class="menu">
                        <a class="item" asp-controller="" asp-action="">Account</a>
                        <a class="item" asp-controller="" asp-action="">Sign out</a>
                    </div>
                </div>
                <a class="active gray item" asp-controller="" asp-action="">
                    Tổng Quan
                </a>
                <a class="item" asp-controller="" asp-action="">
                    Bán Hàng
                    <div class="ui label">11</div>
                </a>
                <a class="item" asp-controller="" asp-action="">
                    Đơn Hàng
                    <div class="ui label">22</div>
                </a>
                <a class="item" asp-controller="Customer" asp-action="Index">
                    Khách Hàng
                </a>
                <a class="item" asp-controller="" asp-action="">
                    Hàng Hóa
                </a>
                <a class="item" asp-controller="" asp-action="">
                    Báo Cáo
                </a>
            </div>

            <div class="ui main centered grid">

                <!-- Responsive top menu -->
                <div class="ui fixed inverted main menu">
                    <div class="ui container">
                        <a class="launch icon item sidebar-toggle">
                            <i class="sidebar icon"></i>
                        </a>
                    </div>
                </div>

                @RenderSection("menu",false)
                @RenderBody()

            </div>

        </div>
    </div>

</body>
</html>
