@inject IStringLocalizer<SharedResource> sharedLocalizer

<div id="message-progress"
     class="ui top attached indicating progress hidden">
    <div class="bar"></div>
</div>

<div id="message-loader"
     class="ui centered inverted dimmer">
    ">
    <div class="ui large text loader">
        @sharedLocalizer["PleaseWait"]
    </div>
</div>

<div id="message"
     class="ui small modal">
    <div class="header">@sharedLocalizer["DefaultErrorContent"]</div>
    <div data-default-value="@sharedLocalizer["DefaultErrorContent"]"
         class="content">
        <div class="ui icon message">
            <i class="remove icon red"></i>
            <div class="content">
                <div class="header">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue cancel button">
            Ok
        </div>
    </div>
</div>