<div class="header"> Không tạo được đơn hàng </div>
<div class="content"> Giá trị đơn hàng phải lớn hơn 0 </div>
<div class="actions">
    <div class="ui blue labeled icon cancel button">
        <i class="share icon"></i> Quay lại
    </div>
</div>