<div class="ui tiny modal" id="notify-modal">
</div>

<div class="ui tiny modal" id="zero-value-modal">
    <div class="header"> Không Tạo Được Đơn Hàng </div>
    <div class="content">
        <div class="ui warning icon message">
            <i class="warning icon"></i>
            <div class="header">
                Giá trị đơn hàng phải lớn hơn 0.
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue cancel button">
            Quay lại
        </div>
    </div>
</div>

<div class="ui tiny modal" id="zero-product-modal">
    <div class="header"> Không Tạo Được Đơn Hàng </div>
    <div class="content">
        <div class="ui warning icon message">
            <i class="warning icon"></i>
            <div class="header">
                Bạn chưa thêm sản phẩm nào.
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue cancel button">
            Quay lại
        </div>
    </div>
</div>

<div class="ui tiny modal" id="close-invoice-modal">
    <div class="header">Xác nhận</div>
    <div class="content">
        <div class="ui negative icon message">
            <i class="remove icon"></i>
            <div class="content">
                <div class="header">
                    Bạn có chắc muốn đóng đơn hàng này không ?
                </div>
                <p>Hệ thống sẽ không lưu lại thông tin của đơn hàng này.</p>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui green ok button">
            <i class="checkmark icon"></i>
            Đồng ý
        </div>
        <div class="ui blue cancel button">
            Hủy
        </div>
    </div>
</div>

<div class="ui tiny modal" id="create-modal">
</div>

<div class="ui modal" id="print-preview-modal">
</div>