
@{
    ViewData["Title"] = "Bán Hàng";
}

<div class="row">

    <div class="twelve wide column">
        <div class="ui grid">
            <!-- Mặt hàng-->
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui top attached menu">
                        <div class="header item">Hàng hóa</div>
                        <a class="item" asp-action="Index">
                            <i class="filter icon"></i>
                            Lọc
                        </a>
                        <div class="right menu">
                            <div class="ui search item" style="width: 300px;">
                                <div class="ui transparent icon input">
                                    <input class="prompt"
                                           type="text"
                                           placeholder="Tìm kiếm hàng hóa..."
                                           id="product-input">
                                    <i class="search link icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached segment"
                         style="height:160px;overflow-y:scroll;">
                        <table class="ui very basic table" id="products-table">
                            <thead>
                                <tr>
                                    <th class="two wide">Mã hàng</th>
                                    <th class="eight wide">Tên hàng</th>
                                    <th class="four wide">Đơn giá</th>
                                    <th class="two wide">Có thể bán</th>
                                </tr>
                            </thead>
                            <tbody id="product-results">                               
                            </tbody>
                        </table>
                    </div>
                    <div class="ui top attached tabular menu">
                        <div class="active item">Đơn hàng 1</div>
                    </div>
                    <div class="ui bottom attached active tab segment"
                         style="height:330px;">
                        <table class="ui very basic table">
                            <thead>
                                <tr>
                                    <th class="two wide">Mã hàng</th>
                                    <th class="six wide">Tên hàng</th>
                                    <th class="two wide">Số lượng</th>
                                    <th class="two wide">Đơn giá</th>                                    
                                    <th class="three wide">Thành tiền</th>
                                    <th class="one wide"></th>
                                </tr>
                            </thead>
                            <tbody id="invoice-table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui grid">
            <!-- Khach hang -->
            <div class="row">
                <div class="column">
                    <div class="ui dividing header">Khách hàng</div>
                    <div class="ui fluid search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Khách hàng...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <table class="ui very basic fixed single line table" id="customer-table">
                        <tbody>
                            <tr>
                                <td class="six wide">Điện thoại</td>
                                <td class="ten wide right aligned"></td>
                            </tr>
                            <tr>
                                <td class="six wide">Địa chỉ</td>
                                <td class="ten wide right aligned"></td>
                            </tr>
                            <tr>
                                <td class="six wide">Loại giá</td>
                                <td class="ten wide right aligned"></td>
                            </tr>
                            <tr>
                                <td class="six wide">Nhân viên</td>
                                <td class="ten wide right aligned"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Thanh toan -->
            <div class="row">
                <div class="column">
                    <div class="ui dividing header">Thanh toán</div>
                    <table class="ui very basic table">
                        <tbody>
                            <tr>
                                <td>Tổng tiền</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Khách phải trả</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tiền khách đưa</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tiền thừa</td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="2" class="right aligned">
                                    <div class="ui positive button">Thanh toán</div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var urlSearch = '@Url.Action("FindCustomer", "Sale")';
    var urlSearchProduct = '/Sale/FindProduct?keyword={value}';
</script>
<script src="~/js/Sale.js"></script>
