.total-value, .discount-value{
    font-weight: bold;    
}

.paid-value{
    font-weight:bold;
    font-size:medium;    
    color: green;
}

#payment-table td{
    padding-bottom: 7px;
}

#customer-table td{
    padding-bottom: 7px;
}

.discount-value input{
    width:100px !important; 
    text-align:right !important;
}

.discount-value  .dropdown.button{
    padding: 11px 14px !important;
}

