@model string

@{ 
    string activeIndex = "", activeRole = "", activeCreate = "";

    if (Model == "Index")
    {
        activeIndex = "active";
    }
    else if (Model == "Role")
    {
        activeRole = "active";
    }
    else
    {
        activeCreate = "active";
    }
}

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Admin</h2>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Tìm kiếm..." class="search-input">
                <a class="search-btn">
                    <i class="search icon"></i>
                </a>
            </div>
        </div>
        <a class="ui @activeIndex item" asp-action="Index">
            Tài khoản
        </a>
        <a class="ui @activeRole item" asp-action="Roles">
            Quyền
        </a>
        <a class="ui @activeCreate item" asp-action="CreateUser">
            Thêm mới
        </a>        
    </div>
</div>