

<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">Admin</h2>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Tìm kiếm..." class="search-input">
                <a class="search-btn">
                    <i class="search icon"></i>
                </a>
            </div>
        </div>
        <a class="ui active item" asp-action="Index">
            Users
        </a>
        <a class="ui item" asp-action="CreateUser">
            Register
        </a>
        <a class="ui item" asp-action="Roles">
            Roles
        </a>
    </div>
</div>