@model Role

<div class="header">
    Xóa Quyền
</div>
<div class="content">
    <p>Bạn có chắc muốn xóa quyền <b>@Model.Name</b> không ?</p>
</div>
<div class="actions">    
    <div class="ui negative right labeled icon button">
        Xóa
        <i class="checkmark icon"></i>
    </div>
    <div class="ui positive button">Hủy</div>
</div>

<link href="~/css/Admin.css" rel="stylesheet" />