
<div class="header"> Thành Công </div>
<div class="content"> Thêm Quyền Thành Công </div>
<div class="actions">
    <div class="ui blue labeled icon cancel button" id="btn-modal-3">
        <i class="checkmark icon"></i> Hoàn Tất
    </div>
</div>
