@model PaginatedList<Staff>

@{
    ViewData["Title"] = "Admin";

}

@Html.Partial("_AdminMenu","Index");

<div class="row">
    <div class="eleven wide column">
        <div class="ui left floated header">Danh Sách Tài Khoản</div>        
        <div class="ui clearing divider"></div>
    </div>
</div>
<div class="row">
    <div class="eleven wide column">
        <div class="ui  inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <div id="user-segment">

        </div>
    </div>
</div>

<div class="ui tiny modal additional-modal">
</div>
<div class="ui tiny modal edit-modal">
</div>

<script>
    var urlListStaff = '@Url.Action("ListUser", "Admin")';
</script>

<script src="~/js/Admin/Admin.js"></script>